In [1]:
# Artificial Neural Network#in this assignment is decided how many hidden layer and how many neuron in each and every hidden layer
#how to decide hidden layer an neuron

# Part 1 - Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset
dataset = pd.read_csv('C:\\Users\\SAGAR\Documents\\ashwini\\deep learning\\Complete-Deep-Learning-master\\Complete-Deep-Learning-master\\ANN\\Churn_Modelling.csv')
dataset
#creaditscore to estimatedsalary are independent feature and exited coloumn are dependent feature

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
X = dataset.iloc[:, 3:13]
y = dataset.iloc[:, 13]
X
#x and y are splited independent and feature are splited

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71
6,822,France,Male,50,7,0.00,2,1,1,10062.80
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88
8,501,France,Male,44,4,142051.07,2,0,1,74940.50
9,684,France,Male,27,2,134603.88,1,1,1,71725.73
10,528,France,Male,31,6,102016.72,2,0,0,80181.12
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01
12,476,France,Female,34,10,0.00,2,1,0,26260.98
13,549,France,Female,25,5,0.00,2,0,0,190857.79
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81
19,726,France,Female,24,6,0.00,2,1,1,54724.03
20,732,France,Male,41,8,0.00,2,1,1,170886.17
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53
23,669,France,Male,46,3,0.00,2,0,1,8487.75
24,846,France,Female,38,5,0.00,1,1,1,187616.16
25,577,France,Male,25,3,0.00,2,0,1,124508.29
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95
27,571,France,Male,44,9,0.00,2,0,0,38433.35
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43
29,411,France,Male,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...,...,...
9970,518,France,Male,42,7,151027.05,2,1,0,119377.36
9971,833,France,Female,34,3,144751.81,1,0,0,166472.81
9972,758,France,Male,26,4,155739.76,1,1,0,171552.02
9973,611,France,Male,27,7,0.00,2,1,1,157474.10
9974,583,France,Male,33,7,122531.86,1,1,0,13549.24
9975,610,Germany,Male,50,1,113957.01,2,1,0,196526.55
9976,637,France,Female,33,7,103377.81,1,1,0,84419.78
9977,683,France,Female,32,9,0.00,2,1,1,24991.92
9978,774,France,Male,40,9,93017.47,2,1,0,191608.97
9979,677,France,Female,58,1,90022.85,1,0,1,2988.28
9980,741,Spain,Male,35,6,74371.49,1,0,0,99595.67
9981,498,Germany,Male,42,3,152039.70,1,1,1,53445.17
9982,655,Germany,Female,46,7,137145.12,1,1,0,115146.40
9983,613,France,Male,40,4,0.00,1,0,0,151325.24
9984,602,Germany,Male,35,7,90602.42,2,1,1,51695.41
9985,659,France,Male,36,6,123841.49,2,1,0,96833.00
9986,673,Germany,Male,47,1,183579.54,2,0,1,34047.54
9987,606,Spain,Male,30,8,180307.73,2,1,1,1914.41
9988,775,France,Male,30,4,0.00,2,1,0,49337.84
9989,841,Spain,Male,28,4,0.00,2,1,1,179436.60
9990,714,Germany,Male,33,3,35016.60,1,1,0,53667.08
9991,597,France,Female,53,4,88381.21,1,1,0,69384.71
9992,726,Spain,Male,36,2,0.00,1,1,0,195192.40
9993,644,France,Male,28,7,155060.41,1,1,0,29179.52
9994,800,France,Female,29,2,0.00,2,0,0,167773.55
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [4]:
#Create dummy variables
geography=pd.get_dummies(X["Geography"],drop_first=True)
gender=pd.get_dummies(X['Gender'],drop_first=True)
geography#geography and gender feature are catogorical feature and convert this features
geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
5           0      1
6           0      0
7           1      0
8           0      0
9           0      0
10          0      0
11          0      1
12          0      0
13          0      0
14          0      1
15          1      0
16          1      0
17          0      1
18          0      1
19          0      0
20          0      0
21          0      1
22          0      1
23          0      0
24          0      0
25          0      0
26          1      0
27          0      0
28          1      0
29          0      0
...       ...    ...
9970        0      0
9971        0      0
9972        0      0
9973        0      0
9974        0      0
9975        1      0
9976        0      0
9977        0      0
9978        0      0
9979        0      0
9980        0      1
9981        1      0
9982        1      0
9983        0      0
9984        1      0
9985        0      0
9986        1      0
9987        0      1
9988        0      0
9989        0      1
9990        1      0
9991        0      0
9992        0      1
9993        0      0
9994        0      0
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [5]:
gender

      Male
0        0
1        0
2        0
3        0
4        0
5        1
6        1
7        0
8        1
9        1
10       1
11       1
12       0
13       0
14       0
15       1
16       1
17       0
18       1
19       0
20       1
21       0
22       0
23       1
24       0
25       1
26       1
27       1
28       0
29       1
...    ...
9970     1
9971     0
9972     1
9973     1
9974     1
9975     1
9976     0
9977     0
9978     1
9979     0
9980     1
9981     1
9982     0
9983     1
9984     1
9985     1
9986     1
9987     1
9988     1
9989     1
9990     1
9991     0
9992     1
9993     1
9994     0
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [6]:
## Concatenate the Data Frames.concatinate geography,gender dataset with X and X is independent feature

X=pd.concat([X,geography,gender],axis=1)
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,0,1,1
6,822,France,Male,50,7,0.00,2,1,1,10062.80,0,0,1
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1,0,0
8,501,France,Male,44,4,142051.07,2,0,1,74940.50,0,0,1
9,684,France,Male,27,2,134603.88,1,1,1,71725.73,0,0,1
10,528,France,Male,31,6,102016.72,2,0,0,80181.12,0,0,1
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0,1,1
12,476,France,Female,34,10,0.00,2,1,0,26260.98,0,0,0
13,549,France,Female,25,5,0.00,2,0,0,190857.79,0,0,0
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0,1,0
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,1,0,1
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1,0,1
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0,1,0
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0,1,1
19,726,France,Female,24,6,0.00,2,1,1,54724.03,0,0,0
20,732,France,Male,41,8,0.00,2,1,1,170886.17,0,0,1
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0,1,0
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53,0,1,0
23,669,France,Male,46,3,0.00,2,0,1,8487.75,0,0,1
24,846,France,Female,38,5,0.00,1,1,1,187616.16,0,0,0
25,577,France,Male,25,3,0.00,2,0,1,124508.29,0,0,1
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,1,0,1
27,571,France,Male,44,9,0.00,2,0,0,38433.35,0,0,1
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,1,0,0
29,411,France,Male,29,0,59697.17,2,1,1,53483.21,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,518,France,Male,42,7,151027.05,2,1,0,119377.36,0,0,1
9971,833,France,Female,34,3,144751.81,1,0,0,166472.81,0,0,0
9972,758,France,Male,26,4,155739.76,1,1,0,171552.02,0,0,1
9973,611,France,Male,27,7,0.00,2,1,1,157474.10,0,0,1
9974,583,France,Male,33,7,122531.86,1,1,0,13549.24,0,0,1
9975,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1,0,1
9976,637,France,Female,33,7,103377.81,1,1,0,84419.78,0,0,0
9977,683,France,Female,32,9,0.00,2,1,1,24991.92,0,0,0
9978,774,France,Male,40,9,93017.47,2,1,0,191608.97,0,0,1
9979,677,France,Female,58,1,90022.85,1,0,1,2988.28,0,0,0
9980,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0,1,1
9981,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1,0,1
9982,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1,0,0
9983,613,France,Male,40,4,0.00,1,0,0,151325.24,0,0,1
9984,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,1,0,1
9985,659,France,Male,36,6,123841.49,2,1,0,96833.00,0,0,1
9986,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,1,0,1
9987,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0,1,1
9988,775,France,Male,30,4,0.00,2,1,0,49337.84,0,0,1
9989,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0,1,1
9990,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,1,0,1
9991,597,France,Female,53,4,88381.21,1,1,0,69384.71,0,0,0
9992,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0,1,1
9993,644,France,Male,28,7,155060.41,1,1,0,29179.52,0,0,1
9994,800,France,Female,29,2,0.00,2,0,0,167773.55,0,0,0
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [7]:
## Drop Unnecessary columns
X=X.drop(['Geography','Gender'],axis=1)
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
5,645,44,8,113755.78,2,1,0,149756.71,0,1,1
6,822,50,7,0.00,2,1,1,10062.80,0,0,1
7,376,29,4,115046.74,4,1,0,119346.88,1,0,0
8,501,44,4,142051.07,2,0,1,74940.50,0,0,1
9,684,27,2,134603.88,1,1,1,71725.73,0,0,1
10,528,31,6,102016.72,2,0,0,80181.12,0,0,1
11,497,24,3,0.00,2,1,0,76390.01,0,1,1
12,476,34,10,0.00,2,1,0,26260.98,0,0,0
13,549,25,5,0.00,2,0,0,190857.79,0,0,0
14,635,35,7,0.00,2,1,1,65951.65,0,1,0
15,616,45,3,143129.41,2,0,1,64327.26,1,0,1
16,653,58,1,132602.88,1,1,0,5097.67,1,0,1
17,549,24,9,0.00,2,1,1,14406.41,0,1,0
18,587,45,6,0.00,1,0,0,158684.81,0,1,1
19,726,24,6,0.00,2,1,1,54724.03,0,0,0
20,732,41,8,0.00,2,1,1,170886.17,0,0,1
21,636,32,8,0.00,2,1,0,138555.46,0,1,0
22,510,38,4,0.00,1,1,0,118913.53,0,1,0
23,669,46,3,0.00,2,0,1,8487.75,0,0,1
24,846,38,5,0.00,1,1,1,187616.16,0,0,0
25,577,25,3,0.00,2,0,1,124508.29,0,0,1
26,756,36,2,136815.64,1,1,1,170041.95,1,0,1
27,571,44,9,0.00,2,0,0,38433.35,0,0,1
28,574,43,3,141349.43,1,1,1,100187.43,1,0,0
29,411,29,0,59697.17,2,1,1,53483.21,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9970,518,42,7,151027.05,2,1,0,119377.36,0,0,1
9971,833,34,3,144751.81,1,0,0,166472.81,0,0,0
9972,758,26,4,155739.76,1,1,0,171552.02,0,0,1
9973,611,27,7,0.00,2,1,1,157474.10,0,0,1
9974,583,33,7,122531.86,1,1,0,13549.24,0,0,1
9975,610,50,1,113957.01,2,1,0,196526.55,1,0,1
9976,637,33,7,103377.81,1,1,0,84419.78,0,0,0
9977,683,32,9,0.00,2,1,1,24991.92,0,0,0
9978,774,40,9,93017.47,2,1,0,191608.97,0,0,1
9979,677,58,1,90022.85,1,0,1,2988.28,0,0,0
9980,741,35,6,74371.49,1,0,0,99595.67,0,1,1
9981,498,42,3,152039.70,1,1,1,53445.17,1,0,1
9982,655,46,7,137145.12,1,1,0,115146.40,1,0,0
9983,613,40,4,0.00,1,0,0,151325.24,0,0,1
9984,602,35,7,90602.42,2,1,1,51695.41,1,0,1
9985,659,36,6,123841.49,2,1,0,96833.00,0,0,1
9986,673,47,1,183579.54,2,0,1,34047.54,1,0,1
9987,606,30,8,180307.73,2,1,1,1914.41,0,1,1
9988,775,30,4,0.00,2,1,0,49337.84,0,0,1
9989,841,28,4,0.00,2,1,1,179436.60,0,1,1
9990,714,33,3,35016.60,1,1,0,53667.08,1,0,1
9991,597,53,4,88381.21,1,1,0,69384.71,0,0,0
9992,726,36,2,0.00,1,1,0,195192.40,0,1,1
9993,644,28,7,155060.41,1,1,0,29179.52,0,0,1
9994,800,29,2,0.00,2,0,0,167773.55,0,0,0
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [8]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
#X_train are 8000 record and X_test are 2000 record total record are 10000

In [9]:
# Feature Scaling#scale down all feature in same scale range.and easily back propogation happen feature scaling used for bcoz of find easily gredient descent ,conversion happen quickly,global minima point able to find easily 
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\logs\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\logs\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\logs\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.

In [10]:
# Perform hyperparameter optimization
# Importing the Keras libraries and packages
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV#is uesd bcoz selecting right kind of hyper parameter that is called hyper parameter tunning
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,Activation,Embedding,Flatten,BatchNormalization
from keras.activations import relu,sigmoid

Using TensorFlow backend.

In [11]:
def create_model(layers,activation):#2 para provide and i can itrated this layer and create dense neuron/activation neuron
    model=Sequential()
    for i,nodes in enumerate(layers):#create dense neuron
        if i==0:         #i=0 means 1 st layer
            model.add(Dense(nodes,input_dim=X_train.shape[1]))#i/p dim provide i/p features
            model.add(Activation(activation))#which activation function applied into your hidden layer
        #aaply dropout rate
        else:
            model.add(Dense(nodes))#inside layer consist hidden neuron inhidden layer.inside layer consist list of hidden neuron
            model.add(Activation(activation)) #then applied activation function
            #applied dropout rate
    model.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))#in last layer(o/p layer) having 1 o/pAnd o/p as a 0 or 1,it isbinary o/p
    model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])#in relu activation fun he uniform is bettern bcoz it work well with relu A.F
    return model

In [12]:

model=KerasClassifier(build_fn= create_model,verbose=0)#build fun provide function name,

In [13]:
layers=[[20],[40,20],[45,30,15],[30,20,10,3]]#consider this example,1st hidden layer having 20 neuron,in second hidden layer having in 2nd try to create 2 hidden layer 1st hidden layer having 40 neuron simily 2nd layer having 20 neuron.simliary 3 rd iteration
#u can used multiple iteration means multiple combination.#similary this combination it will create ,you can take many combination 1, combination define 1 neural n/w
activations=['sigmoid','relu']#2 a.f. are used for each combination .for all combination 1st iteration used sigmoid and 2nd used relu.1st combination having 20 neuron both activaton function applied on that .and determine which accuracy are better result.and that basically called best aprameterand best tuning hyper parameter .and finally 1 o/p will there of each combination 
param_grid=dict(layers=layers,activation=activations,batch_size=[126,254],epochs=[20])#created dictionry of parameter
grid2=GridSearchCV(estimator=model,param_grid=param_grid,cv=5)#provide grid search library#cross validation is 5,

In [14]:
g_result=grid2.fit(X_train,Y_train)

In [15]:
#check if we used 1 hidden layer/1 hidden neuron means 1st combination (above cell) then applied a.f. both a.f. are appplied and check which a.f. accurcy is better .if we used sigmoid for 1 hidden layer how it is accuracy,then check 2nd a.f. on same hidden layer combination.
#similary then check 2 nd combination which have 2 hiddenlayer and 2 hidden neuron ,applied both a.f. on this 2nd number combination and check both a.f. accuracy.which are bettern accuary , then used this a.f. and used this hidden layer which type of combination of hidden layer accuracy is better.
#same on 3 combination of hidden layers aaplied both a.f. and batch size.one time 1 a.f. and 1 batch size applied and check accuray for hidden ayer combinations.
#and from that we knows that how many hidden layer we used and what activation function useful and good.

In [16]:
#model give best result#it will give which a.f. is best,which batch_size is best,how many layers are good how many hidden neuron is good
print(g_result.best_score_,g_result.best_params_)

0.8551250100135803 {'activation': 'relu', 'batch_size': 126, 'epochs': 20, 'layers': [30, 20, 10, 3]}

In [21]:
pred_y=grid2.predict(X_test)
y_pred=(pred_y>0.5)
from sklearn.metrics import confusion_matrix,accuracy_score

In [23]:
cm=confusion_matrix(y_pred,Y_test)
score=accuracy_score(y_pred,Y_test)
score

0.8535